/* body part */
body {
    background-color: white;
    max-width: 1440px;

}

header {
    border: 2px solid tomato;


}

/* nav section starts*/
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-image {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-right: 5px;
}

nav {
    display: flex;
    padding: 50px 140px;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tour-color {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#logo-image {
    width: 98px;
    height: 56.008px;
    flex-shrink: 0;
}

.home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* nav secyion ends*/
.banner-image {
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;

    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
    padding: 0 140px;
    filter: brightness(75%);
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800 bold;
    line-height: normal;
    text-align: center;



    position: absolute;

    padding-top: 106px;
    padding-left: 287px;
    top: 30%;
    left: 10%;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    position: absolute;

    padding-top: 210px;
    padding-left: 247px;
    top: 40%;
    left: 10%;
    width: 676px;
    height: 52px;
}

/* input container */
.input-container {
    /* display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px; */
    /* background: rgba(176, 35, 35, 0.3); */
    /* position: absolute; */
    top: 60%;
    left: 5%;
    padding-top: 310px;
    padding-left: 185px;
    padding-bottom: 106px;
    width: 800px;
    height: 4px;
}

.where-go {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    /* color: rgba(19, 19, 24, 0.50);
    /* text-align: center; */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    */
}

#find {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

/* input container */
.tour-details {
    width: 540px;
    height: 550px;
}

.popular-tours {
    display: flex;
    margin-top: 50px;
    padding-left: 140px;
    gap: 20px;
    border: 2px solid tomato;
    justify-content: space-between;
}

.title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 0;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 575px;
}

.list-1 {
    width: 500px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.tour-image {
    width: 540px;
    height: 520px;
    padding-top: 40px;
    padding-right: 135px;
    /* padding-bottom: 40px; */
    flex-shrink: 0;
    border-radius: 16px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.read-more {
    width: 174px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.read-button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
}

.choose-destination {
    padding: 50px 140px;
    display: none;

}

.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 643px;
    padding-left: 264px;
}

.image-container {
    display: grid;
}

/* footer section starts */
footer {
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(187, 74, 13, 0.05);
    border: 2px solid tomato;
}

#footer-logo {
    justify-content: center;
    padding-top: 110px;
    align-items: center;
    /* padding-left: 400px; */
}

.nav-title2 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tour-color2 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-description{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 769px;
padding-left: 335px;
}










@media screen and(max-width: 600px) {
    .nav-title {

        font-size: 21.543px;

    }

    #logo-image {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 18px 20px;
        justify-content: space-between;
        align-items: center;
    }

}