body {
    background-color: white;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    padding: 50px 140px;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    max-width: 1440px;
    border: 2px solid tomato;


}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tour-color {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#logo-image {
    width: 98px;
    height: 56.008px;
    flex-shrink: 0;
}

.home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-image {
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
   
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
    padding: 0 140px;
    filter: brightness(75%);
}
.banner-title{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
position: absolute;

padding-top: 106px;
padding-left: 387px;
top: 30%;
left: 10%;
}